<!-- Validation failure messages -->
<% if @verify.errors.any? %>
  <% @verify.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Verify</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_verify" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @verify.user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for recruiting_event_id -->
      <div class="form-group">
        <label for="recruiting_event_id" class="control-label">
          Recruiting event
        </label>

        <input type="text" id="recruiting_event_id" name="recruiting_event_id" placeholder="Recruiting event" class="form-control" value="<%= @verify.recruiting_event_id %>">
      </div>

      <button class="btn btn-success">
        Create Verify
      </button>
      or
      <a href="/verifies">Cancel</a>
    </form>
  </div>
</div>
